<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="membre">
      <h2 data-cy="membreDetailsHeading"><span>Membre</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ membre.id }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ membre.nom }}</span>
        </dd>
        <dt><span>Prenom</span></dt>
        <dd>
          <span>{{ membre.prenom }}</span>
        </dd>
        <dt><span>Fonction Interne</span></dt>
        <dd>
          <span>{{ membre.fonctionInterne }}</span>
        </dd>
        <dt><span>Fonction Externe</span></dt>
        <dd>
          <span>{{ membre.fonctionExterne }}</span>
        </dd>
        <dt><span>Structure</span></dt>
        <dd>
          <span>{{ membre.structure }}</span>
        </dd>
        <dt><span>Situation Matrimoniale</span></dt>
        <dd>
          <span>{{ membre.situationMatrimoniale }}</span>
        </dd>
        <dt><span>Numero Telephone</span></dt>
        <dd>
          <span>{{ membre.numeroTelephone }}</span>
        </dd>
        <dt><span>Email</span></dt>
        <dd>
          <span>{{ membre.email }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/membre', membre.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
