<div>
  <h2 id="page-heading" data-cy="SousLocaliteHeading">
    <span>Sous Localites</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span>Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-sous-localite"
        [routerLink]="['/sous-localite/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span> Create a new Sous Localite </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sousLocalites?.length === 0">
    <span>No sousLocalites found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sousLocalites && sousLocalites.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="loadPage()">
          <th scope="col" jhiSortBy="id"><span>ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="nom"><span>Nom</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="section.id"><span>Section</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="cellule.id"><span>Cellule</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sousLocalite of sousLocalites; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/sous-localite', sousLocalite.id, 'view']">{{ sousLocalite.id }}</a>
          </td>
          <td>{{ sousLocalite.nom }}</td>
          <td>
            <div *ngIf="sousLocalite.section">
              <a [routerLink]="['/section', sousLocalite.section?.id, 'view']">{{ sousLocalite.section?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sousLocalite.cellule">
              <a [routerLink]="['/cellule', sousLocalite.cellule?.id, 'view']">{{ sousLocalite.cellule?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/sous-localite', sousLocalite.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/sous-localite', sousLocalite.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline">Edit</span>
              </button>

              <button type="submit" (click)="delete(sousLocalite)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sousLocalites && sousLocalites.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
