<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="section">
      <h2 data-cy="sectionDetailsHeading"><span>Section</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ section.id }}</span>
        </dd>
        <dt><span>Nom</span></dt>
        <dd>
          <span>{{ section.nom }}</span>
        </dd>
        <dt><span>Membre</span></dt>
        <dd>
          <div *ngIf="section.membre">
            <a [routerLink]="['/membre', section.membre?.id, 'view']">{{ section.membre?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/section', section.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
